@charset "UTF-8";

// Note: Mark all variables as !default so that any user styles can override them more easily.

$basic-color: #004494 !default;
// primary-color is basically for h2-h6 font colors
$primary-color:  black !default;
$h1-color:  navy !default;
$basic-color-inverse: invert($basic-color) !default;
$button-bg-color: $basic-color !default;
$button-toggle-color: black !default;
$answer-color: blue !default;
$editline-bg-color: $basic-color !default;
$areacollapse-color: $basic-color !default;
$tab-bg-color: $basic-color !default;
$csrundiv-color: $basic-color !default;
$note-private-color: $basic-color !default;
$note-public-color: #F60 !default;
$csrunmenu-link-color: $basic-color !default;
$timbutton-bg-color: $button-bg-color !default;
$viewlogin-link-color: $basic-color !default;
$draghandle-bg-color: $basic-color !default;
$draghandle-attached-color: #FFF !default;
$basic-border-color: #B7B7B7 !default;
$bg-color: white !default;
$material-shadow: none !default;
$material-bg:  white !default;
$table-header-bg: lightgray !default;
$table-header-color: black !default;
$note-bg:  $material-bg !default;
$body-margin-left: 250px !default;
$material-border: none !default;
$material-border-radius: 0 !default;
$body-text-align: justify !default;
$body-text-align-xs: left !default;
$asset-path: ".." !default;

// Used by Angular
$footer-height: 60px !default;
$footer-z: -1 !default;
$header-footer-border: 1px solid #e5e5e5 !default;

$editline-width: 3em !default;
$editline-extra: 1.5em !default;
$readline-offset: -1em !default;
$readline-width: 10em !default;
$readline-color: #F60 !default;
$note-width: 30% !default;
$heading-outdent: -1em !default;
$icon-color: $basic-color !default;
$icon-hover-color: darken($basic-color, 10%) !default;
$link-visited-color: #5242CE !default;
// Width was 57.4 before (about 800 pxl) but when basic font is 16 it should be smaller
// $paragraph-preferred-width: 57.4em !default;
$paragraph-preferred-width: 801px !default;
$inline-code-size: 110% !default;
$block-code-size: 110% !default;
$pre-overflow: visible !default; // TODO: Default is supposed to be "auto", but it breaks velp annotations in pre blocks.
$pre-left-border: 4px solid $basic-color !default;
$pre-background: white !default;
$container-xs-padding: 0.2em !default;
$focus-bar-color: lightblue !default;
$focus-bar-width: 3px !default;
$lightselect-color: #fcfcfc !default;
// $parselect-color: lightgray;
$parselect-color: #fcfcfc !default;

// TODO decide if these two are necessary
$left-side-columns: 2 !default;
$left-side-columns-lg: 3 !default;
$right-side-columns: 3 !default;

// Bootstrap variable overrides
// See https://getbootstrap.com/docs/3.4/customize/ for default values
$screen-lg-min: 1281px !default;
$gray-base: #000 !default;
$gray: lighten($gray-base, 33.5%) !default;
$brand-primary: $basic-color !default;
$text-color: black !default;
$input-color: black !default;
$link-color: $basic-color !default; // likely of interest
$link-hover-color: darken($link-color, 15%) !default; // likely of interest
$input-color-placeholder: $gray !default;
$headings-font-weight: 700 !default;
$font-size-base: 14px !default; // this should probably not be changed from default 14px
$font_size-normal: floor(($font-size-base * 16.00/14.00)) !default; // this should probably not be changed from default 14px
$font-size-h1: floor(($font_size-normal * 2.00)) !default; // default factor is 2.6
$font-size-h2: floor(($font_size-normal * 1.5)) !default; // default factor is 2.15
$font-size-h3: floor(($font_size-normal * 1.3125)) !default; // default factor is 1.7
$font-family-base: Verdana, Arial, sans-serif !default;              // likely of interest for custom CSS
$font-family-monospace: "Courier New", Courier, serif; // likely of interest for custom CSS
$code-color: inherit !default;
$code-bg: inherit !default;
$pre-color: black !default;
$pre-bg: inherit !default;
$font-family-sans-serif: Verdana, Arial, sans-serif !default;  // likely of interest for custom CSS
$icon-font-path: "/js/bootstrap-fonts/" !default;
$label-visited-color: white !default;

$score-menu-link-color: $link-color !default;
$score-menu-link-visited-color: $link-visited-color !default;

$state-info-bg: #d9edf7 !default;
$state-info-border: darken(adjust-hue($state-info-bg, -10), 7%) !default;