<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="TIM - The Interactive Material."/>
    <meta name="keywords" content="tim,interactive,material"/>
    <link href="/static/images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta name="google-site-verification" content="GHYGje2NiYlQM66xyggsnzQht1OHSgtv_9baHbFIklU"/>
    <link rel="stylesheet" href="/static/generated/default.css">
    <title>
        {{ if eq (placeholder "http.error.status_code") "404" }}
            Not found - TIM
        {{ else }}
            Update in progress - TIM
        {{ end }}
    </title>
</head>
<body>
<div class="container-fluid">
    <div class="row hidden-print">
        <div class="col-md-8 col-md-offset-2">
            <div class="siteheader">
                <a href="/">
                    <img alt="TIM - The Interactive Material." class="pull-left"
                         src="/static/images/tim-logo_42height.png"
                         title="Go to front page"/>
                </a>
                <img alt="Jyväskylän yliopisto" class="pull-right" height="42"
                     src="/static/images/jyulogo.png"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        {{ if eq (placeholder "http.error.status_code") "404" }}
                            The file was not found. The URL might be wrong or the file has been moved/deleted.
                        {{ else }}
                            TIM is being updated at the moment. Please wait.
                        {{ end }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer hidden-print">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2
                        col-md-8 col-md-offset-2
                        col-xs-12 col-xs-offset-0
                        col-sm-10 col-sm-offset-2">
                <div class="row">
                    <div class="col-xs-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
